#bouton{
    width:200px;
}

#modal{
    width:700px;
    height: 600px;
    background-color:rgb(248, 232, 233);
}

#bouttonCroix{
    width: 50px;
    margin-bottom: 20px;
    float:left;
    border-radius:10px;
}

#modifChange{
    margin-top:40px;
}


