.Inscription {
    background-color: rgb(173, 26, 41);
    height:100%;
    width: 100%;
    position:absolute;
    top: 0; left: 0;
  
    
}

form{
    background-color:rgb(248, 232, 233);
    border:1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    border-radius:10px;


  

}

label{
    color:black;
}

#fleche{
    float: left;
    color:black;
}












h1{
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: white;
    margin-top:5%;

}

h2{
    text-decoration: underline;
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    margin-top:5%;
}






a{
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color:black;
    font-size: 10px;
}

#fleche{
    width:60px;
    height:80px;
    float:left;
}

.test{
    display:flex;
    justify-content: space-around;
}



