.Profil {
    background-color: rgb(173, 26, 41);
    height:100%;
    width: 100%;
    position:absolute;
    top: 0; left: 0;
  
    
}
#Partit_haute{
    display: flex;
    justify-content: space-around;
}



#photoProfil{
    width:100px;
    height: 100px;
}

#secondInfoProfil{
    float:left;
}

#troisiemeInfoProfil, h3{
    float:left;
}

