.Profil {
    background-color: rgb(173, 26, 41);
    height:100%;
    width: 100%;
    position:absolute;
    top: 0; left: 0;
  
    
}

#Partit_haute{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.infoPersonn{
    color:blanchedalmond;
}
#infoPersonnTop{
    text-align: right;
}

#secondInfoProfil{
    display:block;
}
#troisiemeInfoProfil{
    display:block;
}
.centresInteret,.description,.centresInteretTitle,.descriptionTitle{
    color:blanchedalmond;
    float: left;
}
.centresInteretTitle,.descriptionTitle{
    font-weight: bold;
}
#buttonProfil{
    display: flex;
    flex-wrap: wrap;
}




#photoProfil{
    width:100px;
    height: 100px;
}

#secondInfoProfil{
    float:left;
}

#troisiemeInfoProfil, h3{
    float:left;
}
#seeProfil{
    width: 100px;
    float:right;
}

#reusltatMatchig{
    border: 1px solid black;
    width:497px;
}

